{% extends "base.html" %}

{% block content %}

<h1>Database Tables</h1>

<div class="card-grid">

    <div class="card">
        <h2>player</h2>
    </div>

    <div class="card">
        <h2>team</h2>
    </div>

    <div class="card">
        <h2>season</h2>
    </div>

    <div class="card">
        <h2>matchrecord</h2>
    </div>

    <div class="card">
        <h2>matchteamstats</h2>
    </div>

    <div class="card">
        <h2>playerseasonstats</h2>
    </div>

    <div class="card">
        <h2>prediction</h2>
    </div>

</div>

{% endblock %}